.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    gap: 15px;
}
.taskWrapp{
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100% - 47px);
}
.taskText{
    width: calc(100% - 25px);
}
.task:not(:last-child){
    margin-bottom: 10px;
}

.isDone {
    text-decoration: line-through;
}
.isDone .taskText{
    opacity: 0.6;
}

@media (max-width: 991px) {
    .task{
        font-size: 16px;
    }
}