.todoListItem{
    padding: 25px;
    border: 1px solid #867f7f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.todoListList{
    padding: 20px 0;
    flex: 1 1 auto;
}
.todoListBtns{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}